<div class="navbar">
  <div class="nav">
    <div class="logo">Team Lazer Phoenix Grill</div>
    <ul>
      <li><a id="menuView" href="#">Menu</a></li>
      <% if (typeof user !== 'undefined' && user.is_owner) { %>
        <li><a id="ordersView" href="#">Orders</a></li>
        <!-- <li><a href="#">Owner</a></li> -->
        <% } else { %>
          <!-- <li><a href="#">Customer</a></li> -->
          <li><a href="#">Contact Us</a></li>
          <% } %>
    </ul>
  </div>
</div>
