<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lazer Phoenix</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
   <script defer src="/scripts/app.js"></script>
  </head>

<body>

  <div class = "navbar">
    <div class="nav">
      <div class="logo"> Lazer Phoenix</div>
      <ul>
          <li><a href = "#">Menu</a></li>
          <li><a href = "#">Contact Us</a></li>
          <li><a href = "#">Preferences</a></li>
          <li><a href = "#">Log In</a></li>
      </ul>
    </div>
  </div>

  <div class = "banner">
    <h1>Lazer Phoenix 🐦</h1>
  </div>


  

</body>

</html>
