<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lazer Phoenix</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/banner.css" />
  <link rel="stylesheet" href="/styles/menuItems.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
   <script defer src="/scripts/app.js"></script>
  </head>

<body>

  <div class="navbar">
    <div class="nav">
      <div class="logo"> Lazer Phoenix</div>
      <ul>
          <li><a href = "#">Menu</a></li>
          <li><a href = "#">Contact Us</a></li>
          <li><a href = "#">Preferences</a></li>
          <li><a href = "#">Log In</a></li>
      </ul>
    </div>
  </div>

  <div class = "banner">
    <img src="/img/moltress.jpg" alt="image of a phoenix">
    <h3>test</h3>
  </div>

  <div id="menuItems" class="menuItems">
    <div class="itemTwo">
      <img src="/img/beautifulTaco.jpg" alt="image of a taco">
    <div class="itemInfo">
      <h3>taco</h3>
      <h3>$XX.xx</h3>
    </div>
      <p>Beautiful Taco</p>
      <button type="button">Order</button>
    </div>
    <div class="itemTwo">
      <img src="/img/hotDog.jpg" alt="image of a hotdog">
      <div class="itemInfo">
      <h3>hotdog</h3>
      <h3>$XX.xx</h3>
    </div>
      <p>Beautiful hotdog</p>
      <button type="button">Order</button>
    </div>
    <div class="itemThree">
      <img src="/img/pizza.jpg" alt="image of pizza">
    <div class="itemInfo">
      <h3>pizza</h3>
      <h3>$XX.xx</h3>
    </div>
      <p>beautiful pizza</p>
      <button type="button">Order</button>
    </div>
  </div>


</body>

</html>
