<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lazer Phoenix</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/banner.css" />
  <link rel="stylesheet" href="/styles/menuItems.css" />
  <link rel="stylesheet" href="/styles/cartButton.css" />
  <link rel="stylesheet" href="/styles/menuItemInput.css" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Source Sans 3 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/helpers.js"></script>
  <script defer src="/scripts/cart.js"></script>
  </head>

<body>

  <%- include('partials/_navbar') %>

  <div class = "banner">
    <img src="/img/moltress.jpg" alt="image of a phoenix">

  </div>

   <div id="menuContainer" class="menuItems">
  </div>
  <button class="shopping-cart-button">
    <div class="cart-icon-container">
      <i class="fa-solid fa-cart-shopping"></i>
      <div id="cartCounter"></div>
    </div>
  </button>

  <div class = "cartTab">
    <h1>Your Cart</h1>
    <div class ="listCart">
    </div>
    <div class="btn">
      <button class="close">CLOSE</button>
      <button class="submitOrder">ORDER</button>
    </div>
  </div>

</body>

</html>
