
// Colors
$body-background-color: #abeeff;
$menu-item-background-color: #faebd7;
$order-item-button-color: #007bff;
$remove-item-button-color: #ff0000;
$menu-item-button-font-color: #ffffff;
$cart-button-background-color: #ff8787;
$cart-button-cart-color: #814444;
$cart-button-font-color: #ffffff;
$edit-menu-item-button-color: #00d400;
$add-to-menu-item-button-color: #007bff;
$nav-bar-background-color: #F19582;


// Fonts
$body-font: "Source Sans 3", sans-serif;
$menu-item-font: "Source Sans 3", sans-serif;
