
// Colors
$body-background-color: #a3d0db;
$menu-item-background-color: #faebd7;
$cart-button-background-color: #ff8787;
$cart-button-cart-color: #814444;
$nav-bar-background-color: #d2b48c;

// Fonts
$body-font: "Source Sans 3", sans-serif;
