
// Colors
$body-background-color: #abeeff;
$menu-item-background-color: #faebd7;
$order-item-button-color: #007bff;
$remove-item-button-color: #ff0000;
$menu-item-button-font-color: #ffffff;
$cart-button-background-color: #ff8787;
$cart-button-cart-color: #814444;
$cart-button-font-color: #ffffff;
$edit-menu-item-button-color: #00d400;
$estimate-button-color: #00d400;
$complete-order-button: #ff0000;
$add-to-menu-item-button-color: #007bff;
$nav-bar-background-color: #F19582;
$cart-overlay-background-color: #353432;
$cart-overlay-font-color: #ffffff;
$cart-overlay-order-button-color: #E8BC0E;
$cart-overlay-close-button-color: #ffffff;
$cart-overlay-hover-order-button-color: #D4A419;
$cart-overlay-active-order-button-color: #C09316;
$cart-overlay-active-close-button-color: #333;
$cart-overlay-hover-close-button-color: #555;
$cart-quantity-button-background-color: #eee;
$cart-quantity-button-font-color: #555;
$cart-quantity-font-color: #eee;
$menu-input-border-bottom-color: #ccc;



// Fonts
$body-font: "Source Sans 3", sans-serif;
$menu-item-font: "Source Sans 3", sans-serif;
