@use 'vars' as *;

.shopping-cart-button {
  font-size: 40px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: $cart-button-background-color;
  color: $cart-button-cart-color;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

/*cart */

.cart-overlay {
  height: min-content;
  width: min-content;
position: fixed;
// inset: 0;
background: var(--color7);
transition: var(--transition);
opacity: 1;
}

.cart-overlay.show{
visibility: visible;
}

.cart {
  position: fixed;
  // inset-block: 0;
  right: 0;
  // width: 100%;
  // max-width: 100px;
  padding: 20px;
  background: var(color8);
  transition: var(--transition);
}

.cart {
transform: none;
}
