@use 'vars' as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 64px;

  background: $body-background-color;
  // background: linear-gradient(
  //   227deg,
  //   #a3d0db 0%,
  //   #a3b0db 20%,
  //   rgba(163, 173, 219, 1) 34%,
  //   rgba(163, 219, 208, 1) 59%,
  //   rgba(163, 208, 219, 1) 74%,
  //   rgba(163, 208, 219, 1) 100%
  // );
}
