@use 'vars' as *;

.menuItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  position: absolute;
  top: 22em;
  bottom: 20px;
  margin: 0 auto;
}

.menuItem {
  width: calc(33.33% - 2em);
  height: auto;
  margin: 1em;
  background-color: $menu-item-background-color;
  border-width: 10px;
  border-style: solid;
  border-color: $menu-item-background-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.menuItemDescription {
  height: 4em;
}

.menuItem img {
  width: 100%;
  height: 14em;
  border-radius: 10px 10px 0 0;
}

.menuItem button {
  margin-top: 10px;
  padding: 5px;
  border: none;
  font-family: $menu-item-font;
  color: $menu-item-button-font-color;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.orderButton {
  margin-right: 3px;
  background-color: $order-item-button-color;
  width: calc(50% - 1em);
}

.removeButton {
  margin-left: 3px;
  background-color: $remove-item-button-color;
  width: calc(50% - 1em);
}

.editMenuItemButton {
  background-color: $edit-menu-item-button-color;
}

.addToMenuButton {
  background-color: $add-to-menu-item-button-color;
}

.itemInfo {
  display: flex;
  justify-content: space-between;
}


